<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project_gpt</title>
    <style>
        body {background: rgb(139, 141, 193);}
    </style>
</head>
<body>
    <a href="{{url_for('user.login')}}"><button>User Login</button></a>
    <a href="{{url_for('user.register')}}"><button>User Reg</button></a>
    <a href="{{url_for('admin.login')}}"><button>Admin Login</button></a>
    <hr>
    :: {% for msg in get_flashed_messages() %}
    {{ msg }}
    {% endfor %}
    <hr>
    <div class="login">
        {% block content %} 
        {% endblock %}
    </div>
</body>
</html>