<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Upload</title>
        <style>
            body {background: rgb(193, 139, 189);}
        </style>
        <meta http-equiv="refresh" content="15;{{ request.referrer }}" />
    </head>
    <body>
        <h4>HUSTON, WE GOT A PROBLEM:<br />{{ error }}<br /></h4>
        <p><a href="{{ request.referrer }}">Go back</a></p>
    </body>
</html>
